# Importing all required libraries

In [1]:
import os
import requests
import json
cwd = os.getcwd()

In [2]:
import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl
import seaborn as sb
import numpy as np
import pandas as pd
from pandas import Series
import zipfile

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
rcParams['figure.figsize'] = 5, 4
sb.set_style('whitegrid')


pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Assessing Data

## Assessing the Twitter Archive

In [3]:
df = pd.read_csv('twitter-archive-enhanced.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [44]:
df.head()

             tweet_id  in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo
0  892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None
1  892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None
2  891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None
3  891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None
4  891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None

## <font color='red'>Issues within the Tweeter Archive DataFrame:</font>

`Tidyness Issues`
- T-1 ** denominator of 10 and the numerators could all be in one column**
- T-2 ** dog stages need to be in one single column (doggo, floofer, pupper, puppo)**
- T-3 ** it's not clear if the tweet is the original satus or a retweet of something else, so we need to add a column for Retweet (Yes/No)**

`Quality Issues`
- Q-1 ** too many NaNs in (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp)**
- Q-2 **source column is not clear and we need to extract the exact source like iPhone, etc.**
- Q-3 **for Dos Stage and Name, for missing values, "None" is used rather than NaN**
- Q-4 **timestamp is not standard, so we could change it to a standard format of Date-time**

## Assessing the Image Prediction DataFrame

In [8]:
df_image = pd.read_csv('image_predictions.tsv', sep = '\t')
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
df_image.sample(10)

                tweet_id                                          jpg_url  img_num                              p1   p1_conf  p1_dog                         p2   p2_conf  p2_dog                 p3   p3_conf  p3_dog
319   671768281401958400  https://pbs.twimg.com/media/CVKZsHtWwAA6gPj.jpg        2                       Chihuahua  0.500373    True             French_bulldog  0.112796    True  Italian_greyhound  0.062893    True
1695  816336735214911488  https://pbs.twimg.com/media/C1Q17WdWEAAjKFO.jpg        1              Labrador_retriever  0.919330    True                     kuvasz  0.049480    True   golden_retriever  0.011934    True
350   672488522314567680  https://pbs.twimg.com/media/CVUovvHWwAAD-nu.jpg        1                        Doberman  0.605358    True                 Rottweiler  0.108382    True        Appenzeller  0.077798    True
982   707387676719185920  https://pbs.twimg.com/media/CdElVm7XEAADP6o.jpg        1                       Chihuahua  0.888468    True          Italian_greyhound  0.088635    True        toy_terrier  0.015938    True
903   700062718104104960  https://pbs.twimg.com/media/CbcfUxoUAAAlHGK.jpg        1                     hummingbird  0.180998   False                    peacock  0.135179   False                eel  0.075371   False
1618  802572683846291456  https://pbs.twimg.com/media/CyNPmJgXcAECPuB.jpg        1                golden_retriever  0.610171    True         Labrador_retriever  0.173252    True     cocker_spaniel  0.163257    True
65    667174963120574464  https://pbs.twimg.com/media/CUJIFoJWsAAL3Dc.jpg        1                      toy_poodle  0.266437    True                  Chihuahua  0.243223    True           bluetick  0.072806    True
134   668484198282485761  https://pbs.twimg.com/media/CUbu1GAWsAEH3E-.jpg        1                 standard_poodle  0.587372    True         Bedlington_terrier  0.182411    True       Afghan_hound  0.040968    True
823   693155686491000832  https://pbs.twimg.com/media/CZ6VatdWwAAwHly.jpg        3                        Shih-Tzu  0.697480    True                      Lhasa  0.200151    True    Tibetan_terrier  0.090970    True
758   688789766343622656  https://pbs.twimg.com/media/CY8SocAWsAARuyh.jpg        1  American_Staffordshire_terrier  0.599660    True  Staffordshire_bullterrier  0.380976    True       bull_mastiff  0.003889    True

In [11]:
df_image.p1.value_counts()

golden_retriever                  150
Labrador_retriever                100
Pembroke                           89
Chihuahua                          83
pug                                57
chow                               44
Samoyed                            43
toy_poodle                         39
Pomeranian                         38
cocker_spaniel                     30
malamute                           30
French_bulldog                     26
miniature_pinscher                 23
Chesapeake_Bay_retriever           23
seat_belt                          22
German_shepherd                    20
Siberian_husky                     20
Staffordshire_bullterrier          20
Cardigan                           19
web_site                           19
Eskimo_dog                         18
beagle                             18
teddy                              18
Maltese_dog                        18
Shetland_sheepdog                  18
Rottweiler                         17
Lakeland_terrier                   17
Shih-Tzu                           17
Italian_greyhound                  16
kuvasz                             16
Great_Pyrenees                     14
West_Highland_white_terrier        14
basset                             13
Pekinese                           13
American_Staffordshire_terrier     13
dalmatian                          13
vizsla                             13
Old_English_sheepdog               12
Border_collie                      12
Airedale                           12
kelpie                             11
Blenheim_spaniel                   11
soft-coated_wheaten_terrier        11
schipperke                         10
collie                             10
Bernese_mountain_dog               10
English_springer                   10
boxer                              10
whippet                             9
Great_Dane                          9
tennis_ball                         9
malinois                            9
dingo                               9
borzoi                              9
Boston_bull                         9
Doberman                            8
standard_poodle                     8
doormat                             8
English_setter                      8
Yorkshire_terrier                   8
papillon                            8
flat-coated_retriever               8
Norwegian_elkhound                  8
miniature_poodle                    8
Norfolk_terrier                     7
hamster                             7
tub                                 7
bloodhound                          7
Siamese_cat                         7
Saint_Bernard                       7
swing                               7
basenji                             7
German_short-haired_pointer         7
Brittany_spaniel                    7
Border_terrier                      7
bath_towel                          7
home_theater                        6
car_mirror                          6
Irish_setter                        6
Dandie_Dinmont                      6
Irish_terrier                       6
redbone                             6
llama                               6
ice_bear                            6
Lhasa                               5
Newfoundland                        5
shopping_cart                       5
hippopotamus                        5
Walker_hound                        5
bull_mastiff                        5
Tibetan_mastiff                     5
Bedlington_terrier                  5
minivan                             5
ox                                  5
porcupine                           5
Rhodesian_ridgeback                 4
Afghan_hound                        4
barrow                              4
bluetick                            4
goose                               4
Mexican_hairless                    4
bathtub                             4
patio                               4
hog                                 4
Saluki                              4
jigsaw_puzzle                       4
miniature_schnauzer                 4
bow_tie                             4
guinea_pig                          4
Arctic_fox                          4
keeshond                            4
wombat                              4
Gordon_setter                       4
Weimaraner                          4
Norwich_terrier                     4
brown_bear                          4
Tibetan_terrier                     4
cowboy_hat                          3
comic_book                          3
Leonberg                            3
vacuum                              3
white_wolf                          3
komondor                            3
dishwasher                          3
common_iguana                       3
Arabian_camel                       3
prison                              3
giant_schnauzer                     3
sea_lion                            3
jack-o'-lantern                     3
toilet_tissue                       3
ram                                 3
washbasin                           3
Christmas_stocking                  3
stone_wall                          3
wood_rabbit                         3
Scottish_deerhound                  3
cairn                               3
space_heater                        3
refrigerator                        3
window_shade                        3
Irish_water_spaniel                 3
Ibizan_hound                        3
mousetrap                           3
motor_scooter                       3
triceratops                         3
seashore                            3
Welsh_springer_spaniel              3
muzzle                              3
balloon                             3
Brabancon_griffon                   3
curly-coated_retriever              3
Greater_Swiss_Mountain_dog          3
briard                              3
ski_mask                            3
upright                             2
laptop                              2
tabby                               2
box_turtle                          2
frilled_lizard                      2
bustard                             2
ostrich                             2
acorn_squash                        2
street_sign                         2
wire-haired_fox_terrier             2
hyena                               2
badger                              2
paddle                              2
toyshop                             2
wool                                2
leatherback_turtle                  2
weasel                              2
chimpanzee                          2
Sussex_spaniel                      2
geyser                              2
snail                               2
bubble                              2
birdhouse                           2
hen                                 2
axolotl                             2
black-and-tan_coonhound             2
dogsled                             2
paper_towel                         2
sorrel                              2
Loafer                              2
cash_machine                        2
tusker                              2
wallaby                             2
feather_boa                         2
dough                               2
gas_pump                            2
shower_curtain                      2
Australian_terrier                  2
hermit_crab                         2
snorkel                             2
gondola                             2
Angora                              2
lakeside                            2
jellyfish                           2
toy_terrier                         2
Appenzeller                         2
koala                               2
meerkat                             2
trombone                            1
syringe                             1
Egyptian_cat                        1
beaver                              1
killer_whale                        1
skunk                               1
sandbar                             1
lynx                                1
espresso                            1
traffic_light                       1
coho                                1
orange                              1
zebra                               1
long-horned_beetle                  1
robin                               1
flamingo                            1
water_bottle                        1
envelope                            1
mortarboard                         1
bald_eagle                          1
dining_table                        1
lorikeet                            1
grille                              1
ibex                                1
carton                              1
maillot                             1
dhole                               1
African_crocodile                   1
mailbox                             1
tiger_shark                         1
sliding_door                        1
hotdog                              1
grey_fox                            1
bow                                 1
basketball                          1
wild_boar                           1
scorpion                            1
American_black_bear                 1
bookshop                            1
tick                                1
limousine                           1
conch                               1
guenon                              1
leopard                             1
bighorn                             1
rain_barrel                         1
ping-pong_ball                      1
prayer_rug                          1
washer                              1
Madagascar_cat                      1
radio_telescope                     1
studio_couch                        1
soccer_ball                         1
pitcher                             1
silky_terrier                       1
cowboy_boot                         1
bookcase                            1
alp                                 1
candle                              1
picket_fence                        1
three-toed_sloth                    1
hand_blower                         1
book_jacket                         1
terrapin                            1
revolver                            1
timber_wolf                         1
four-poster                         1
piggy_bank                          1
microphone                          1
binoculars                          1
coral_reef                          1
sundial                             1
standard_schnauzer                  1
clumber                             1
marmot                              1
barbell                             1
beach_wagon                         1
hummingbird                         1
bee_eater                           1
stove                               1
school_bus                          1
panpipe                             1
black-footed_ferret                 1
pillow                              1
microwave                           1
pedestal                            1
pot                                 1
cheeseburger                        1
carousel                            1
lion                                1
shopping_basket                     1
bakery                              1
bison                               1
mud_turtle                          1
swab                                1
cheetah                             1
desktop_computer                    1
maze                                1
African_hunting_dog                 1
slug                                1
restaurant                          1
clog                                1
fountain                            1
harp                                1
king_penguin                        1
pole                                1
convertible                         1
damselfly                           1
starfish                            1
otter                               1
Japanese_spaniel                    1
sea_urchin                          1
cuirass                             1
rapeseed                            1
fire_engine                         1
giant_panda                         1
pencil_box                          1
canoe                               1
pool_table                          1
quilt                               1
banana                              1
loupe                               1
crane                               1
coil                                1
platypus                            1
bonnet                              1
toilet_seat                         1
earthstar                           1
hammer                              1
suit                                1
nail                                1
sulphur-crested_cockatoo            1
water_buffalo                       1
china_cabinet                       1
leaf_beetle                         1
sunglasses                          1
agama                               1
ice_lolly                           1
cougar                              1
coffee_mug                          1
park_bench                          1
hay                                 1
electric_fan                        1
bib                                 1
jersey                              1
groenendael                         1
minibus                             1
ocarina                             1
crash_helmet                        1
lawn_mower                          1
shield                              1
boathouse                           1
handkerchief                        1
snowmobile                          1
teapot                              1
walking_stick                       1
Scotch_terrier                      1
wooden_spoon                        1
lacewing                            1
EntleBucher                         1
cliff                               1
cup                                 1
tricycle                            1
polecat                             1
African_grey                        1
rotisserie                          1
bearskin                            1
remote_control                      1
peacock                             1
bannister                           1
fiddler_crab                        1
military_uniform                    1
padlock                             1
tailed_frog                         1
hare                                1
Name: p1, dtype: int64

## <font color='red'>Issues within the Image Prediction DataFrame:</font>

`Tidyness Issues:`
- T-4 **The Columns titles are not descriptive enough (img_num, p(1-3), p(1-3)_dog)**
- T-5 **number of records for this DatFrame is not the same as the archive. It has 2075 records while he other has 2356 records**

`quality Issues:`
- Q-5 **Some of the photos are not dog (like the p1 says: hummingbird, p2: peacock, p3: eel)**
- Q-6 **some of the names in the p1-p3 are not real dog breads (web-site, llama, tub, etc.)**

## Assessing the Tweet extra data - DataFrame

In [34]:
df_tweet = pd.read_csv('tweet_df.csv')
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 6 columns):
Unnamed: 0        2345 non-null int64
favorite_count    2345 non-null int64
full_text         2345 non-null object
retweet_count     2345 non-null int64
tweet_id          2345 non-null int64
tweet_status      2345 non-null object
dtypes: int64(4), object(2)
memory usage: 110.0+ KB

In [35]:
df_tweet.head()

   Unnamed: 0  favorite_count                                          full_text  retweet_count            tweet_id                                       tweet_status
0           0           38994  This is Phineas. He's a mystical boy. Only eve...           8653  892420643555336193  Status(truncated=False, _api=<tweepy.api.API o...
1           1           33390  This is Tilly. She's just checking pup on you....           6355  892177421306343426  Status(truncated=False, _api=<tweepy.api.API o...
2           2           25168  This is Archie. He is a rare Norwegian Pouncin...           4220  891815181378084864  Status(truncated=False, _api=<tweepy.api.API o...
3           3           42347  This is Darla. She commenced a snooze mid meal...           8768  891689557279858688  Status(truncated=False, _api=<tweepy.api.API o...
4           4           40514  This is Franklin. He would like you to stop ca...           9531  891327558926688256  Status(truncated=False, _api=<tweepy.api.API o...

In [46]:
df_tweet.full_text[1]

"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV"

## <font color='red'>Issues within the Tweet DataFrame:</font>

`Tidyness Issues:`
- T-6 **Columns are not optimally arranged**
- T-7 **no need for Unnamed id column at the begining**

    
`Quality Issues:`
- Q-7 **full text contain some url and also rating which are irrelevant, need to be removed**
- Q-8 **Tweet_id is in Integer form, needs to be string**

# Clean